

<section class="cart container">
    <% if (session.cart){%>
    <h1 class="font-bold text-3xl italic text-center text-green-500">Your Shopping Bag</h1>
    <div class="flex md:flex-column">
      <div class="left ">
          
          <table class="table">
              <thead class="bg-green-500">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col">NAME</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">TOTAL</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <%var i = 1 %>
              <%for(let item of Object.values(session.cart.items)){%>
              <tbody >
                <tr>
                  <th scope="row"><%= i++ %>.</th>
                  <td>
                      <div class="element">
                          <img src="<%= item.item.image%>" alt="">
                      </div>
                  </td>
                  <td><%= item.item.name%></td>
                  <td><%= item.qty%></td>
                  <td>₹ <%= item.item.price%></td>
                  <td>₹ <%= item.qty * item.item.price%></td>
                  <td><button id="deleteCartItem" data-item_id="<%= JSON.stringify(item.item._id)%>" ><i class="fa-solid fa-trash"></i></button></td>
                </tr>
              
              </tbody>
              <%}%>

            </table>
            <%if (!user){%>
              <div class="container">
                <button class="btn"><a href="/login">Login First →</a></button>
              </div>
            <%}else{%>
              <div class="cartForm  ">
                <div class="text-center font-bold text-3xl italic">
                  <h1>Shipping Address</h1>
                </div>
                <form class="row g-3" action="/order" method="post">
                    
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Contact No.</label>
                    <input type="text" name="phone" class="form-control" id="inputEmail4">
                  </div>
                  
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" name="city" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" name="state" class="form-select">
                      <option selected>Choose...</option>
                      <option>Andhra Pradesh</option>
                      <option>Assam</option>
                      <option>Arunachal Pradesh</option>
                      <option>Bihar</option>
                      <option>Chhattisgarh</option>
                      <option>Delhi</option>
                      <option>Goa</option>
                      <option>Gujarat</option>
                      <option>Haryana</option>
                      <option>Himachal Pradesh</option>
                      <option>Jammu and Kashmir</option>
                      <option>Jharkhand</option>
                      <option>Karnataka</option>
                      <option>Kerala</option>
                      <option>Madhya Pradesh</option>
                      <option>Maharashtra</option>
                      <option>Punjab</option>
                      <option>Rajsthan</option>
                      <option>Uttar-pradesh</option>
                      <option>West Bengal</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="inputZip" class="form-label">Pin Code</label>
                    <input type="text" name="pinCode" class="form-control" id="inputZip">
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Cash On Delivery
                      </label>
                    </div>
                  </div>
                  <div class="col-12 text-center mb-7">
                    <button type="submit" class="btn btn-primary bg-green-500 w-64 ">Procced to checkout</button>
                  </div>
                </form>
                
               
                
              </div>
                
            <%}%>

            
            
          

      </div>
      <div class="right container ml-7">
        
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Order Summery</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total Item</td>
                <td><%= session.cart.totalQty%></td>
              </tr>
              <tr>
                <td>Total Price</td>
                <td>₹ <%= session.cart.totalPrice%></td>
              </tr>
              <tr>
                <td>Estimated Tax (2%)</td>
                <td>₹ <%= session.cart.gstTotal%></td>
              </tr>
              <tr>
                <td>Shipping Charge</td>
                <td>₹ 15</td>
              </tr>
              <tr class="bg-green-500 font-bold">
                <td>Total Payment</td>
                <td>₹ <%= session.cart.grandTotal%>/-</td>
              </tr>
            </tbody>
          </table>
      </div>
       

      
         
    </div>


    

   

    <%} else{%>

    <div class="emptyCart ">
      <div class="container mx-auto text-center">
        <img class="mx-auto" src="/images/emptycart.png" alt="">
        <h1 class="font-bold text-3xl mt-2">your cart is empty!</h1>
        <h1 class="mt-1">Looks like you have not added anything to you cart. <br> Go ahead & explore top categories.</h1>
        <button class="btn mt-4"><a href="/product">Continue Shopping →	</a></button>
      </div>
      
    </div>

    <%}%>

    
</section>